body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media only screen and (min-width: 1024px){
	.modal {
		width: 65%;
	}
}

@media only screen and (max-width: 992px){
	.modal {
		width: 85%;
	}	
}

@media only screen and (min-width: 993px){
	.container {
		width: 75%;
	}
}

.navbar-wrapper {
    margin: 0 auto;
    width: 88% !important;
}
       
.navbar-wrapper .brand-logo {
	padding-left: 15px;
}

.btn-facebook {
	background-color: #4267B2 !important;
}

.button-tooltip-wrapper {
	margin-bottom: 10px;
}

.button-tooltip-wrapper > .btn {
	width: 100%;
}

#buttons-group > .btn {
	margin-bottom: 10px;
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;
}

.cropit-image-input {
	display: none;
}

#overlay, #preview {
	width: 400px;
	height: 400px;
	z-index: 1;
	position: absolute;
}

#overlay {
	pointer-events: none;
}

#direction-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 2;
	font-size: 38px;
	background: rgba(255, 255, 255, 0.8);
	pointer-events: none;
}

#direction-wrapper > div {
	pointer-events: none;	
}

#preview {
	position: relative;
}

.separator {
	padding-bottom: 5px;
	text-align: center;
}

.cropit-preview-image {
	position: absolute;
}

.btn-rotate {
	display: inline;
	padding-left: 9px;
	padding-right: 9px;
	margin-left	: 10px;
}

.cropit-controls {
	margin-top: 10px;
}

.buttons-group-sep {
	height: 10px;
}

.ava-choice {
	display: inline-block;
	cursor: pointer;
}

.ava-choice > img {
	width: 100%;
}

#direction-loading {
	display: none;
}

.page-footer {
    padding-top: 0px !important;
}
/* https://scottcheng.github.io/cropit/ */
input.cropit-image-zoom-input {
    position: relative;
    width: 30%;
}

input.cropit-image-zoom-input[disabled="disabled"] {
  opacity: .2;
}

h1 {
	margin-top: 17px;
}